<a href="https://colab.research.google.com/github/deepthigopisetti/K-Hub-_tasks/blob/main/K_HUB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 03/08/2025

strings:
definition:
      The strings are the character that are denoted in TEXT formate
      (" ") & ('  ')

In [ ]:
str='Deepthi'
print(str)

Deepthi

In [ ]:
#len(str)
str="Gopisetti Hema Sai Deepthi"
print(str)
print(len(str))

Gopisetti Hema Sai Deepthi
26

In [ ]:
#cobime the two strings:
str1="Hema"
str2="Sai"
print(str1 + str2)

HemaSai

In [ ]:
name = "Nagu"
f"Hello, {name}!"

'Hello, Nagu!'

In [ ]:
a="abc"
print(a.split())

['abc']

In [32]:
#capitalize:covert only 1st letter into upper case
a="hello , this is deepu"
b=a.capitalize()
print(a)

#casefold:
a="HELLO,THIS IS DEEPU"
b=a.casefold()
print(b)

#center:
a="DEEPU"
b=a.center(10)
print(b)
#
a="DEEPU"
b=a.center(13,"O")
print(b)

#count:
a="This is deepu,Deepu is studying"
b=a.count("deepu",11,20)
print(b)

#encode:
a="My name is ddeeepu"
b=a.encode()
print(b)

#endswith:
a="Hi , This is deepthi"
b=a.endswith("i")
print(b)

#formate:
a="the price is high i.e {Price}"
b=a.format(Price="30")
print(b)

#formatemap:
a = {"name" : "Jane", "age" : 36}
txt = "Happy birthday {name} you are now on level {age}!"
print(txt.format_map(a))

#index:
a="hello , this is deepu"
b=a.index("this")
print(b)

#isalnum:
a="hello deepu"
b=a.isalnum()
print(b)

#isalpha:
a="hello"
b=a.isalpha()
print(b)

#isidentifier:
a="hello_d7eepu"
b=a.isidentifier()
print(b)

#islower:
a="hello deepu"
b=a.islower()
print(b)

#swapcase:
a="This is  DEEPU"
b=a.swapcase()
print(b)

#title:
a="This is  DEEPU"
b=a.title()
print(b)

#translate:
my_dic={"69":"89"}
a="hello all"
print(a.translate(my_dic))

#zfill:
a="540"
h=a.zfill(15)
print(h)

hello , this is deepu
hello,this is deepu
  DEEPU
OOOODEEPUOOOO
0
b'My name is ddeeepu'
True
the price is high i.e 30
Happy birthday Jane you are now on level 36!
8
False
True
True
True
tHIS IS  deepu
This Is  Deepu
hello all
000000000000540

boolean:

In [34]:
a=5
b=7954
if (b>a):
  print(b,"is greater num")
else:
  print(a,"is greater number")

7954 is greater num

Operators

In [37]:
a=5
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

8
2
15
1.6666666666666667
1
2
8

In [47]:
#asigmenet opeartors
a=int(input("enter a num:"))
a+=4
print(a)

a*=3
print(a)

a/=4
print(a)

a%=2
print(a)

a//=3
print(a)

enter a num:8
12
36
9.0
1.0
0.0

comparsion operator:

In [48]:
x=2
y=8

print(x==y)
print(x<=y)
print(x>=y)
print(x>y)
print(x<y)
print(x!=y)

False
True
False
False
True
True

logical code:

In [50]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

identity opersators:

In [51]:
a = [8,3]
b = a
c = [1,2]

print(a is b)
print(a is c)
print(a is not c)

True
False
True

membership operators:

In [53]:
x = ["apple", "banana"]

print("banana" in x)
print("banana" not in x)

True
False

Bitwise operators:

In [54]:
x = 5
y = 3

print(x & y)
print(x | y)
print(x ^ y)
print(~x)
print(x << 1)
print(x >> 1)

1
7
6
-6
10
2

list:changable,ordered,allow duplications.

In [59]:
my_list = ["apple", "banana", "cherry"]

print(my_list[2])

fruits[1] = "orange"
print(my_list)

my_list.append("grape")
print(my_list)

my_list.insert(1, "kiwi")
print(my_list)

my_list.remove("apple")
print(my_list)

last = my_list.pop()
print(my_list)

print(my_list[1:3])

cherry
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'grape']
['apple', 'kiwi', 'banana', 'cherry', 'grape']
['kiwi', 'banana', 'cherry', 'grape']
['kiwi', 'banana', 'cherry']
['banana', 'cherry']

list methods:

In [61]:
fruits = ["banan", "banana", "cherry"]
print(fruits)

fruits.append("mango")
print(fruits)

fruits.insert(1, "kiwi")
print(fruits)

fruits.remove("banana")
print(fruits)

fruits.pop()
print(fruits)

fruits.sort()
print(fruits)

fruits.reverse()
print(fruits)

fruits.clear()
print(fruits)

['banan', 'banana', 'cherry']
['banan', 'banana', 'cherry', 'mango']
['banan', 'kiwi', 'banana', 'cherry', 'mango']
['banan', 'kiwi', 'cherry', 'mango']
['banan', 'kiwi', 'cherry']
['banan', 'cherry', 'kiwi']
['kiwi', 'cherry', 'banan']
[]

Tuples:
      It is used to store multiple items in a single variable. unchangable,ordered

In [63]:
fruits = ("orange", "apple", "banana")

print(fruits[0])

print(fruits.count("orange"))

print(fruits.index("banana"))

o, b, c = fruits
print(o,b,c)

nested = ((1, 2), (3, 4))
print(nested[0][1])

name = ("hello",)
print(type(name))

orange
1
2
orange apple banana
2
<class 'tuple'>

methods of tuples:

In [65]:
names= ("deepu","veera","asha","deepu","nagu")

#count the str
n=names.count("deepu")
print(n)

#find the index
n=names.index("nagu")
print(n)

2
4

sets:unordered, unchangeable*, and unindexed.

In [67]:
numbers = {1, 2, 3, 4}

numbers.add(5)
print(numbers)

numbers.remove(2)
print(numbers)

# union
a = {1, 2}
b = {2, 3}
print(a.union(b))

# intersection
print(a.intersection(b))

# difference
print(a.difference(b))

{1, 2, 3, 4, 5}
{1, 3, 4, 5}
{1, 2, 3}
{2}
{1}

In [76]:
a={3,4,6}

#adding a num
a.add(7)
print(a)

#removing a num
a.remove(4)
print(a)

#copy the set
a.copy()
print(a)

#discard set
a.discard(3)
print(a)

#clear th set
a.clear()
print(a)

{3, 4, 6, 7}
{3, 6, 7}
{3, 6, 7}
{6, 7}
set()

Dictinoary: it has a key and value.

In [75]:
student = {"name": "Rahul", "age": 21, "course": "MERN"}

# Access value by key
print(student["name"])

# Add new key-value pair
student["grade"] = "A"

# Update existing value
student["age"] = 22

# Remove key
student.pop("course")

#LOOP
for key, value in student.items():
    print(key, value)

# Check if key exists
print("name" in student)

# Get value with default
print(student.get("marks", 0))

Rahul
name Rahul
age 22
grade A
True
0

dictionary methods:

In [79]:
student = {"name": "deepu", "age": 20}

student.get("age")
print(student)

student.keys()
print(student)

student.values()
print(student)

student.items()
print(student)

student.update({"age": 20})
print(student)

student.pop("name")
print(student)
''
student.clear()
print(student)

{'name': 'deepu', 'age': 20}
{'name': 'deepu', 'age': 20}
{'name': 'deepu', 'age': 20}
{'name': 'deepu', 'age': 20}
{'name': 'deepu', 'age': 20}
{'age': 20}
{}

If-else condition:Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b

In [82]:
a=int(input("enter your age:"))
if a<=5:
  print("small kids")
else:
  print("childern")

enter your age:2
small kids

while loop:

In [87]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [90]:
#for loop
for i in range(3):
  print("DEEPU")

#nested loops:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

DEEPU
DEEPU
DEEPU
red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Match statements:
Instead of writing many if..else statements, you can use the match statement.syntax:match expression:
  case x:
    code block
  case y:
    code block
  case z:
    code block

In [105]:
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")



#exaamples:

day = 6
match day:
  case 6:
    print("Today is Saturday")
  case 8:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")

Thursday
Today is Saturday