<a href="https://colab.research.google.com/github/deepthigopisetti/K-Hub-_tasks/blob/main/K_HUB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 03/08/2025

strings:
definition:
      The strings are the character that are denoted in TEXT formate
      (" ") & ('  ')

In [ ]:
str='Deepthi'
print(str)

Deepthi

In [ ]:
#len(str)
str="Gopisetti Hema Sai Deepthi"
print(str)
print(len(str))

Gopisetti Hema Sai Deepthi
26

In [ ]:
#cobime the two strings:
str1="Hema"
str2="Sai"
print(str1 + str2)

HemaSai

In [ ]:
name = "Nagu"
f"Hello, {name}!"

'Hello, Nagu!'

In [ ]:
a="abc"
print(a.split())

['abc']

In [ ]:
#capitalize:covert only 1st letter into upper case
a="hello , this is deepu"
b=a.capitalize()
print(a)

#casefold:
a="HELLO,THIS IS DEEPU"
b=a.casefold()
print(b)

#center:
a="DEEPU"
b=a.center(10)
print(b)
#
a="DEEPU"
b=a.center(13,"O")
print(b)

#count:
a="This is deepu,Deepu is studying"
b=a.count("deepu",11,20)
print(b)

#encode:
a="My name is ddeeepu"
b=a.encode()
print(b)

#endswith:
a="Hi , This is deepthi"
b=a.endswith("i")
print(b)

#formate:
a="the price is high i.e {Price}"
b=a.format(Price="30")
print(b)

#formatemap:
a = {"name" : "Jane", "age" : 36}
txt = "Happy birthday {name} you are now on level {age}!"
print(txt.format_map(a))

#index:
a="hello , this is deepu"
b=a.index("this")
print(b)

#isalnum:
a="hello deepu"
b=a.isalnum()
print(b)

#isalpha:
a="hello"
b=a.isalpha()
print(b)

#isidentifier:
a="hello_d7eepu"
b=a.isidentifier()
print(b)

#islower:
a="hello deepu"
b=a.islower()
print(b)

#swapcase:
a="This is  DEEPU"
b=a.swapcase()
print(b)

#title:
a="This is  DEEPU"
b=a.title()
print(b)

#translate:
my_dic={"69":"89"}
a="hello all"
print(a.translate(my_dic))

#zfill:
a="540"
h=a.zfill(15)
print(h)

hello , this is deepu
hello,this is deepu
  DEEPU
OOOODEEPUOOOO
0
b'My name is ddeeepu'
True
the price is high i.e 30
Happy birthday Jane you are now on level 36!
8
False
True
True
True
tHIS IS  deepu
This Is  Deepu
hello all
000000000000540

boolean:

In [ ]:
a=5
b=7954
if (b>a):
  print(b,"is greater num")
else:
  print(a,"is greater number")

7954 is greater num

Operators

In [ ]:
a=5
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

8
2
15
1.6666666666666667
1
2

In [ ]:
#asigmenet opeartors
a=int(input("enter a num:"))
a+=4
print(a)

a*=3
print(a)

a/=4
print(a)

a%=2
print(a)

a//=3
print(a)

enter a num:5
9
27
6.75
0.75
0.0

comparsion operator:

In [ ]:
x=2
y=8

print(x==y)
print(x<=y)
print(x>=y)
print(x>y)
print(x<y)
print(x!=y)

False
True
False
False
True
True

logical code:

In [ ]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

identity opersators:

In [ ]:
a = [8,3]
b = a
c = [1,2]

print(a is b)
print(a is c)
print(a is not c)

True
False
True

membership operators:

In [ ]:
x = ["apple", "banana"]

print("banana" in x)
print("banana" not in x)

True
False

Bitwise operators:

In [ ]:
x = 5
y = 3

print(x & y)
print(x | y)
print(x ^ y)
print(~x)
print(x << 1)
print(x >> 1)

1
7
6
-6
10
2

list:changable,ordered,allow duplications.

In [ ]:
my_list = ["apple", "banana", "cherry"]

print(my_list[2])

my_list[1] = "orange"
print(my_list)

my_list.append("grape")
print(my_list)

my_list.insert(1, "kiwi")
print(my_list)

my_list.remove("apple")
print(my_list)

last = my_list.pop()
print(my_list)

print(my_list[1:3])

cherry
['apple', 'orange', 'cherry']
['apple', 'orange', 'cherry', 'grape']
['apple', 'kiwi', 'orange', 'cherry', 'grape']
['kiwi', 'orange', 'cherry', 'grape']
['kiwi', 'orange', 'cherry']
['orange', 'cherry']

list methods:

In [ ]:
fruits = ["banan", "banana", "cherry"]
print(fruits)

fruits.append("mango")
print(fruits)

fruits.insert(1, "apple")
print(fruits)

fruits.remove("banana")
print(fruits)

fruits.pop()
print(fruits)

fruits.sort()
print(fruits)

fruits.reverse()
print(fruits)

fruits.clear()
print(fruits)

['banan', 'banana', 'cherry']
['banan', 'banana', 'cherry', 'mango']
['banan', 'apple', 'banana', 'cherry', 'mango']
['banan', 'apple', 'cherry', 'mango']
['banan', 'apple', 'cherry']
['apple', 'banan', 'cherry']
['cherry', 'banan', 'apple']
[]

Tuples:
      It is used to store multiple items in a single variable. unchangable,ordered

In [ ]:
fruits = ("orange", "apple", "banana")

print(fruits[0])

print(fruits.count("orange"))

print(fruits.index("banana"))

o, b, c = fruits
print(o,b,c)

nested = ((1, 2), (3, 4))
print(nested[0][1])

name = ("hello",)
print(type(name))

orange
1
2
orange apple banana
2
<class 'tuple'>

methods of tuples:

In [ ]:
names= ("deepu","veera","asha","deepu","nagu")

#count the str
n=names.count("deepu")
print(n)

#find the index
n=names.index("nagu")
print(n)

2
4

sets:unordered, unchangeable*, and unindexed.

In [ ]:
numbers = {1, 2, 3, 4}

numbers.add(5)
print(numbers)

numbers.remove(2)
print(numbers)

# union
a = {1, 2}
b = {2, 3}
print(a.union(b))

# intersection
print(a.intersection(b))

# difference
print(a.difference(b))

{1, 2, 3, 4, 5}
{1, 3, 4, 5}
{1, 2, 3}
{2}
{1}

In [ ]:
a={3,4,6}

#adding a num
a.add(7)
print(a)

#removing a num
a.remove(4)
print(a)

#copy the set
a.copy()
print(a)

#discard set
a.discard(3)
print(a)

#clear th set
a.clear()
print(a)

{3, 4, 6, 7}
{3, 6, 7}
{3, 6, 7}
{6, 7}
set()

Dictinoary: it has a key and value.

In [ ]:
student = {"name": "Rahul", "age": 21, "course": "MERN"}

# Access value by key
print(student["name"])

# Add new key-value pair
student["grade"] = "A"

# Update existing value
student["age"] = 22

# Remove key
student.pop("course")

#LOOP
for key, value in student.items():
    print(key, value)

# Check if key exists
print("name" in student)

# Get value with default
print(student.get("marks", 0))

Rahul
name Rahul
age 22
grade A
True
0

dictionary methods:

In [ ]:
student = {"name": "deepu", "age": 20}

student.get("age")
print(student)

student.keys()
print(student)

student.values()
print(student)

student.items()
print(student)

student.update({"age": 20})
print(student)

student.pop("name")
print(student)
''
student.clear()
print(student)

If-else condition:Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b

In [ ]:
a=int(input("enter your age:"))
if a<=5:
  print("small kids")
else:
  print("childern")

while loop:

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

In [ ]:
#for loop
for i in range(3):
  print("DEEPU")

#nested loops:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

Match statements:
Instead of writing many if..else statements, you can use the match statement.syntax:match expression:
  case x:
    code block
  case y:
    code block
  case z:
    code block

In [ ]:
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")



#exaamples:

day = 6
match day:
  case 6:
    print("Today is Saturday")
  case 8:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")

# 04/08/2025

Loops :
       A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
#Print each fruit in a fruit list:
fruits=["Mango","Apple","orange","Banana"]
for i in fruits:
  print(i)

#looping letters:
a="Deepu"
for i in a:
  print(i)

#exit from the loop:
a=["Deepu","Baby","Nagu","Sai"]
for i in a:
  print(i)
  if i=="Nagu":
    break

#exit from the loop but before from the print:
a=["Deepu","Baby","Nagu","Sai"]
for i in a:
  if i=="Nagu":
    break
  print(i)

#continue statement:
a=["Deepu","Baby","Nagu","Sai"]
for i in a:
  if i=="Nagu":
    continue
  print(i)

#use range :
for i in range(10):
  print(i)

for i in range(3,6):
  print(i)

#increment sequence:
for i in range(1,10,2):
  print(i)

for i in range(1,6,2):
  print(i)
else:
  print("Finished")

for i in range(10):
  if i==8:
    break
  print(i)
else:
  print("finished")

Nested loop:

In [ ]:
#nested loop:
a=["deepu","durga","nagu"]
b=["sai","sai","siva"]
for i in a:
  for j in b:
    print(i,j)

In [ ]:
for i in range(1,11):
  print(i)

for i in range(2,20,2):
  print(i)

a=int(input("enter a number:"))
for i in range(1,11):
  print(a,"X",i,"=",a*i)

In [ ]:
#Print numbers from 20 down to 1 using a for loop:
for i in range(20,0,-1):
  print(i)

In [ ]:
#factorial:
a=int(input("enter a number:"))
fact=1
for i in range(1,n+1):
  fact*=i
  print(fact)

In [ ]:
#count no of odd numbers in list:
a=[1,3,4,6,8,4,9,5,7,3,13,2,335]
odd_count=0
for i in a:
  if i%2!=0:
    odd_count+=1
print(odd_count)


#Squares:
a=int(input("enter a num :"))
total=0
for i in range(1,6):
  total+=i**2
print(total)

In [ ]:
for i in range(1,16):
  if i%3==0 and i%5==0:
    print("FIZZBUZZ")
  elif i%3==0:
    print("FIZZ")
  elif i%5==0:
    print("BUZZ")
  else:
    print(i)

while:With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
#Basic example:
i=1
while i<6:
  print(i)
  i+=1

#break in while :
i=1
while i<4:
  print(i)
  if i==3:
    break
  i+=1

#continue:
i=0
while i<4:
  i+=1
  if i==3:
    continue
  print(i)

i=1
while i<6:
  print(i)
  i+=1
else:
  print("no more numbers")

In [ ]:
#Keep asking the user for numbers and add them to a total. Stop and print the sum if the user enters a negative number.
n=int(input("enter a nnumber:"))
total=0
while n>=0:
  total+=n
  n=int(input("enter a number:"))
print(total)

In [ ]:
#count a number in a digit:
a=int(input("enter a number:"))
count=0
while a>0:
  a//=10
  count+=1
print(count)

In [ ]:
#multiplication table:
a=int(input("enter a number:"))
i=1
while i<=10:
  print(a,"X",i,"=",a*i)
  i+=1

In [ ]:
#reverse:
a=int(input("enter a number:"))
while a>0:
  digit=a%10
  print(digit,end="")
  a//=10

In [ ]:
#sum of the digit:
a=int(input("enter a number:"))
total=0
while a>0:
  total+=a%10
  a//=10
print(total)

In [ ]:
#even:
i=2
while i<10:
  i+=2
  print(i)

In [ ]:
x=int(input("enter a num"))
for i in range(1,x+1):
  print(i*"*")
  print()

enter a num7
*

**

***

****

*****

******

*******

# Functions:
A function is a block of code which only runs when it is called.
You can pass data, known as parameters, into a function.

In [ ]:
def my_function():
  print("Hi , I am deepu")
my_function()


def my_function(deepu):
  print(deepu +"refsner")

my_function("nagu")
my_function("sai")
my_function("durga")


def my_function(metamask,heptamask):
  print(metamask +" "+heptamask)

my_function("name","frjf")

def my_function(*mom):
  print("the first mom ever:",mom[3])

my_function("baby","durga","Amma","Durgababy")

def my_function(lord1,lord2,lord3):
  print("My most fav god ever is:",lord2)

my_function(lord1 ="Hanuman",lord2 = "Shivayya",lord3 = "Ganesh")

def my_function(**lord):
  print("My most fav god ever is:"+lord["lname"])

my_function(lord ="Hanuman",lname = "Shivayya")

def my_function(name="DURGA"):
  print("My name is:"+ name)


my_function("DEEPU")
my_function("NAGU")
my_function()
my_function("BABY")


def my_function(fruits):
  for i in fruits:
    print(i)
food=["biriyani","icecream","chocolates"]

my_function(food)


def my_function(i):
  return 3*i

print(my_function(1))
print(my_function(2))
print(my_function(3))


def my_function(x,/):
  print(x)

my_function(4)

def my_function(i):
  print(i)

my_function(i=3)

def my_function(*,i):
  print(i)

my_function(i=4)

Hi , I am deepu
nagurefsner
sairefsner
durgarefsner
name frjf
the first mom ever: Durgababy
My most fav god ever is: Shivayya
My most fav god ever is:Shivayya
My name is:DEEPU
My name is:NAGU
My name is:DURGA
My name is:BABY
biriyani
icecream
chocolates
3
6
9
4
3
4

In [ ]:
def add():
  a=2
  b=3
  print(a+b)
add()

def add(a,b):
  print(a+b)
a=int(input("enter a value:"))
b=int(input("enter b value:"))
add(a,b)


def add(a,b):
  print(a+b)
x=int(input("enter a value:"))
y=int(input("enter b value:"))
add(x,y)

def add(a,b):
  print(a)
  print(b)
x=10
y=20
add(x,y)
add(y,x)
add(x+y)
add(y+x)

5
enter a value:3
enter b value:4
7
enter a value:5
enter b value:7
12
10
20
20
10

In [ ]:
c=500
def add(c,d):
  print(c)
  print(d)
x=10
y=20
add(x,y)
add(y,x)
print(c)

c=500
def add(c,d):
  print(c)
  print(d)
x=10
y=20
add(x,y)
add(y,x)
print(c)
add(d=y,c=x)

10
20
20
10
500
10
20
20
10
500
10
20

In [ ]:
def add(a,b):
  return a+b
x=add(12,19)
print(x+30)

def add(a,b):
  return a+b
add(10,20)

61

30

In [ ]:
def add(a,b):
  return a+b
def sub(a,b):
  return a-b
def multiple(a,b):
  return a*b
def division(a,b):
  return a/b
def cal(a,b,opp):
  if opp==1:
    return add(a,b)
  elif opp==2:
    return sub(a,b)
  elif opp==3:
    return multiple(a,b)
  elif opp==4:
    return division(a,b)
  else:
    return 'wrong operator'
x=int(input("enter a value:"))
y=int(input("enter b value:"))
print("enter 1 to add \n enter 2 to sub \n enter 3 to multiple \n enter 4 to divide")
z=int(input("enter operator:"))
r=cal(x,y,z)
print(r)

enter a value:2
enter b value:3
enter 1 to add
 enter 2 to sub
 enter 3 to multiple
 enter 4 to divide
enter operator:2
-1

In [ ]:
def coffe_type(coffetype):
  if coffetype ==1:
    return "espresso"
  elif coffetype ==2 :
    return "latte"
  elif coffetype == 3:
    return "cappuccino"
  else:
    return 'not avaliable'
print("enter 1 for espresso  \n enter 2 for latte  \n enter 3 for cappuccino")
a=int(input("enter the coffetype:"))
r=coffe_type(a)
print(r)

enter 1 for espresso
 enter 2 for latte
 enter 3 for cappuccino
enter the coffetype:3
cappuccino

In [ ]:
def my_function(coffes):
  for i in coffes:
    print(i)
avalible=["espresso","latte","cappuccino"]

my_function(avalible)

espresso
latte
cappuccino

In [ ]:
MENU = {
    "espresso": {"ingredients": {"water": 50, "coffee": 18}, "cost": 50},
    "latte": {"ingredients": {"water": 200, "milk": 150, "coffee": 24}, "cost": 100},
    "cappuccino": {"ingredients": {"water": 250, "milk": 100, "coffee": 24}, "cost": 120}
}

resources = {
    "water": 300,
    "milk": 200,
    "coffee": 100,
    "money": 0.0
}

def print_report():
    print(f"Water: {resources['water']}ml")
    print(f"Milk: {resources['milk']}ml")
    print(f"Coffee: {resources['coffee']}g")
    print(f"Money: ₹{resources['money']}")

def check_resources(ingredients):
    for item in ingredients:
        if ingredients[item] > resources.get(item, 0):
            print(f"Sorry, not enough {item}.")
            return False
    return True

def process_rupees():
    try:
        rupees = float(input("Please insert ₹: "))
        return round(rupees, 2)
    except ValueError:
        print("Invalid input. Please enter a number.")
        return 0.0

def is_transaction_successful(payment, cost):
    if payment < cost:
        print("Sorry, that's not enough money. Money refunded.")
        return False
    change = round(payment - cost, 2)
    if change > 0:
        print(f"Here is ₹{change} in change.")
    resources["money"] += cost
    return True

def make_coffee(drink_name, ingredients):
    for item in ingredients:
        resources[item] -= ingredients[item]
    print(f"Here is your {drink_name}. Enjoy!")

is_on = True

while is_on:
    choice = input("What would you like? (espresso/latte/cappuccino): ").lower()

    if choice == "off":
        print("Turning off the coffee machine. Goodbye!")
        is_on = False

    elif choice == "report":
        print_report()

    elif choice in MENU:
        drink = MENU[choice]
        if check_resources(drink["ingredients"]):
            payment = process_rupees()
            if is_transaction_successful(payment, drink["cost"]):
                make_coffee(choice, drink["ingredients"])
    else:
        print("Invalid input. Please choose from espresso/latte/cappuccino.")

What would you like? (espresso/latte/cappuccino): latte
Please insert ₹: 200
Here is ₹100.0 in change.
Here is your latte. Enjoy!
What would you like? (espresso/latte/cappuccino): latte
Sorry, not enough water.
What would you like? (espresso/latte/cappuccino): 100
Invalid input. Please choose from espresso/latte/cappuccino.
What would you like? (espresso/latte/cappuccino): latte
Sorry, not enough water.